## Agenda
* Anaconda Installation & Jupyter nb launch
* Jupyter nb with its menu and toolbar
* Intro to Python
* Python Basics-variables,print
* Data Types
* Typecasting
* input, format options
* slicing
* Operators
* other functions

Short cut keys
A->Insert cell above 
B->Insert cell below 
DD -> Delete a cell
z -> undo
m -> markdown
R -> raw
y -> code
ctrl+Enter -> Run a current cell
shft+Enter -> Run & goes to next cell

#### Python Basics
* Comment-> single,multi-line
* identifiers,variable
* print

In [ ]:
# Area of Triangle
print("This is my first line of code") # '' "" ## Print is a inbuilt function to display any variable

This is my first line of code

In [1]:
'''This is a mutli  line 
comment for your reference'''
print('My name is John')

My name is John

In [2]:
'''This
is
a 
multi-line 
comment'''
print('This is for explaining multi-line comment')

This is for explaining multi-line comment

In [3]:
""" This is 
to explain
multi-line comment
with double quotes"""
print("Good Evening to all")

Good Evening to all

In [6]:
# Identifiers-> names given to a variable name, func name, any naming variable
# Rules-> alphabets/nos/_, no special char allowed
#variables-> the value can be assigned and it can also be changed
x = 10 # x is a variable(variable should follow the rules of identifier,var name is a identifier)
y = 20
c = x+y
c

30

In [7]:
num1 = 20 ## assignmet
num1 # calling the variable

20

In [8]:
num_2 = 30
num_2

30

### DataTypes
* bool 
* int
* float
* str

In [9]:
# bool-True/False
x = True # assignmet
x ## calling the variable

True

In [10]:
type(x) # datatype of the variable

bool

In [11]:
y = False
y

False

In [12]:
type(y)

bool

In [13]:
# integer-> whole nos- +ve,-ve,0
num = 67
print(type(num)) ## print is used to display the variable, type will check the datatype of variable
num

<class 'int'>

67

In [15]:
num1 = -45
print(type(num1))

<class 'int'>

In [16]:
a = 1
b = 2
c = 3
d = a+b
d

3

In [17]:
a = 5
b = 6
print(b)

6

In [22]:
a = 6
b = 5
print(b) ## python is sequential
print(a,b)

5
6 5

In [23]:
a,b

(6, 5)

In [20]:
# assign 0 to a variable num2 and print the datatype of num2
num2 = 0
type(num2)

int

In [21]:
# float-> decimal values
xy = 58.987 ## assignment
type(xy) # calling the variable

float

In [ ]:
# assign 98.56 to a variable num3 and print the datatype of num3
num3 = 98.56
type(num3)

In [24]:
# str-> collection of alphabets enclosed within quotes(''/"")
name = "Deepa"
name

'Deepa'

In [25]:
type(name)

str

In [26]:
print(name)

Deepa

In [27]:
print(type(name))

<class 'str'>

In [28]:
role = 'Data Scientist2*+-'
role

'Data Scientist2*+-'

In [29]:
type(role)

str

In [30]:
name = '** Dream HR solutions **'
name

'** Dream HR solutions **'

## Typecasting
* Hierarchy->bool->int->float->str
* Auto - system
* Forced - manual

In [ ]:
## Typecasting is way of converting from one datatype to another.

In [33]:
# Auto Typecasting
exp = 5 + False + 6.78 + True + 7 + 98.34   # 5.0 + 0.0 + 6.78 + 1.0 +7.0 + 98.34
exp ## highest priority system will consider float datatype.
print(type(exp))

<class 'float'>

In [37]:
exp1 = 5 + False + True + 7 # 5 + 0 + 1 + 7
exp1

13

In [38]:
type(exp1)

int

In [39]:
# Forced Typecasting
exp2 = int(5.43)
exp2

5

In [40]:
type(exp2)

int

In [41]:
# convert 45 into float datatype and type its datatype
ex = float(45)
ex

45.0

In [42]:
type(ex)

float

In [3]:
# convert 56 into str 
s = str(56)
s

'56'

In [43]:
# convert hi into int 
x = int('hi')
x

ValueError: invalid literal for int() with base 10: 'hi'

In [44]:
# convert hi into float 
x = float('hi')
x

ValueError: could not convert string to float: 'hi'

In [45]:
int('5')

5

In [46]:
float('3.54')

3.54

In [48]:
#convert True into float
float(True)

1.0

In [49]:
int(True)

1

In [47]:
float('True') ## string data

ValueError: could not convert string to float: 'True'

In [50]:
# Solve
exp3 = 5 + int('14') + float(True) + 15.67 + False -True -53.2 ## 5+1+14+1+15.67+0-1-53.2
exp3

-18.53

In [51]:
type(exp3)

float

In [54]:
# input ->str
num = input("Enter a value")
num ## here input is string so the value output will be in string.

Enter a value48.0

'48.0'

In [55]:
type(num)

str

In [57]:
num = int(input("Enter a value"))
num

Enter a value48

48

In [58]:
type(num)

int

In [59]:
num =float( input("Enter a value"))
num

Enter a value56

56.0

In [5]:
x = str(eval('5+6'))
x

'11'

In [64]:
x = sum([8,16,32])
x

56

In [75]:
x = 'sum([8,16,32])'
x = (eval('sum([8,16,32])'))
x

56

In [74]:
x = 'sum([8,16,32])'
eval(x)

56

In [69]:
type(x)

str

In [60]:
type(num)

float

In [2]:
eval("print(eval(x)")

SyntaxError: unexpected EOF while parsing (<string>, line 1)

In [6]:
x = 'print(55)'
eval(x)

55

In [71]:
x = int(eval('6**3'))
x

216

In [73]:
x = 'print("This is python")'
eval(x)

This is python

In [3]:
## passing the variable dynamically
num = 10 ## defining the variabe
print("The value of a number =",num)

The value of a number = 10

In [8]:
print(num)

10

In [7]:
name = 'ravi'
print("my name is=",name)

my name is= ravi

In [4]:
# assign name = 'John' and print the text My name is John
name = 'John'
print('My name is ',name)

My name is  John

In [9]:
# Format-{}->place holder
name = 'Deepa'
age = 33
print("My name is {} and my age is {}".format(name,age))

My name is Deepa and my age is 33

In [12]:
name = 'ravi'
age = 33
familymembers = 4
print("My name is {} and my age is {} and My family members are {}".format(name,age,familymembers))

My name is ravi and my age is 33 and My family members are 4

In [14]:
name = 'Deepa'
age = 33
sub = 'phython'
print("My name is {1} and my age is {0} and my course name is {1}".format(name,age,sub))

My name is 33 and my age is Deepa and my course name is 33

In [16]:
x = 50
y = 75
z= 36
print("The value of y is {2} and The value of x is {1} and the value of z is {0}".format(z,x,y))

The value of y is 75 and The value of x is 50 and the value of z is 36

In [17]:
num = 10
print("The value of a number is",num)

The value of a number is 10

In [18]:
name = 'Deepa'
age = 33 
role = 'Data Scientist'
print("My name is {} with role as {} and my age is {} ". format(name,role,age))

My name is Deepa with role as Data Scientist and my age is 33

In [19]:
print("My name is {0} with role as {2} and my age is {1} ". format(name,age,role))

My name is Deepa with role as Data Scientist and my age is 33

### Slicing 
* 3 parameters[start:stop(E):step]

In [20]:
st1 = "Welcome to Data Science Course"
## first function is associated with string datatype is getting the length of data
len(st1)

30

In [21]:
st2 = 'all is well'
len(st2)

11

In [22]:
## Indexing in python starts from 0, 1, 2 ... and in negative -1, -2 ,-4 ... in a opposite direction
st1[0]

'W'

In [24]:
st1[8]

't'

In [23]:
st2[4]

'i'

In [25]:
st1[4]

'o'

In [26]:
st1[-7]

' '

In [27]:
st1[-25]

'm'

In [34]:
st1[3:7] # start with the actual indexing,stop with minus of one indexing

'come'

In [29]:
st1[11:15]

'Data'

In [32]:
st1[16:23]

'Science'

In [33]:
st1[-14:-7]

'Science'

In [20]:
st1 = "Welcome to Data Science Course"
## first function is associated with string datatype is getting the length of data
len(st1)

30

In [35]:
st1[11:15:3]

'Da'

In [41]:
st1[11:15:2]

'Dt'

In [60]:
a = 'datamites'
a[1:]

'atamites'

In [61]:
a = 'datamites'
a[:5]

'datam'

In [49]:
st1[16: :2]

'SineCus'

In [55]:
st1[3:23:-5] ## no output science it is in reverse

''

In [58]:
st1[23:3:-3]

' ncaDtm'

In [48]:
st1[0:30]

'Welcome to Data Science Course'

In [43]:
st1[3:23:3]

'ceoa ic'

In [62]:
st1[::-1] # Reverse of the string

'esruoC ecneicS ataD ot emocleW'

In [63]:
st3 = 'machine learning'
st3[::-1]

'gninrael enihcam'

In [64]:
st1[14:10:-1]

'ataD'

In [ ]:
# Other functions->upper,lower,split
st1

In [ ]:
st1.

In [65]:
st1.upper()

'WELCOME TO DATA SCIENCE COURSE'

In [66]:
st1.lower()

'welcome to data science course'

In [67]:
st1.split()

['Welcome', 'to', 'Data', 'Science', 'Course']

In [68]:
st1.split('c')

['Wel', 'ome to Data S', 'ien', 'e Course']

In [69]:
st1.split('e')

['W', 'lcom', ' to Data Sci', 'nc', ' Cours', '']

In [70]:
st1.split('come')

['Wel', ' to Data Science Course']

In [73]:
st1.split('Course')

['Welcome to Data Science ', '']

In [74]:
st1.split( )

['Welcome', 'to', 'Data', 'Science', 'Course']

## Mathematical operators

In [ ]:
## + addition
## - subtraction
## /,//,% for division
## * mulltiplication
## ** power of

In [3]:
## +
a=5
b=6
c=a+b

In [4]:
c

11

In [5]:
print('the value of c is', c)

the value of c is 11

In [8]:
a=8
b=4
c=a-b

In [9]:
print(c)

4

In [10]:
a, b = 24, 10
c=a-b

In [11]:
c

14

In [13]:
## division
a=15
b=6
a/b ## when you want output to be float

2.5

In [ ]:
a//b ## when you want to get interger outputi.e it will ignore the decimal part

In [12]:
a=15
b=2
a//b

7

In [14]:
a=15
b=2
a%b

1

In [ ]:
a%b ## when you want reminder

In [15]:
a=2
b=5
a*b

10

In [16]:
a**5 ## power of

32

In [17]:
b**3

125

In [18]:
2**5

32

In [19]:
3**4

81